<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteador de Recetas</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <img src="static/img/Don Chef Cat.svg" width="200px" height="200px" alt="Chef Cat" class="center-image">
        <h1>¿No sabes qué cocinar?</h1>
        <button id="sort-recipe">Sortea una receta</button>
        <div id="recipe-display">
            <!-- Aquí se mostrará la receta -->
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>
